.primary{
	text-decoration: none;
	color: #000000;
	display: block;
	width: 45px;
	height: 25px;
	padding: 7px 3px;
	margin: 5px;
	text-align: center;
	font-size: 15px;
	background-color: #ffd700;
	border-radius: 5px;
	padding-top: 3px;
}

input{
	size: 50px;
}